body {
  background-color: lightblue;
}

.main{
  text-align: center;
  margin: 0 auto;
  max-width: 960px;
}


h1 { 
  text-align: center;
}

.all_resources {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.resource_item img {
  width: 100%;
}

.index_img{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.ind_img img {
  width: 100%;
}

.language_img {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.language_img_ind {
  width: 100%;
}

.checkbox {
  width: 100%;
}