<div class="user-page main">
  <div class="box">
    <h1>Log In</h1>
    
    <form action="/sessions" method="POST" class="form">
      <div class="text_input">
        <label for="">Email</label>
        <input type="text" name='email'>
      </div>

      <div class="text_input">
        <label for="">Password</label>
        <input type="password" name="password">
      </div>

      <button class="button_styled">Log in</button>
    </form>
    </div>
</div>