<div class="user-page main">
<h1><a href="/" class="hidden_hyperlink">Sorry</a> User already exists

try<span id="cant_touch_this"><a href="/sign_up" >Signing Up</a></span> with a different email</h1>

</div>