<div class="user-page main">
  <div class="box">
    <h1>Sign Up</h1>
    <form action="/create_user" method="POST" class="form">

    <div class="text_input">
      <label for="" class="label">Name: </label>

      <input type="text" name="name">
    </div> 
    
    <div class="text_input">
      <label for="" class="label">Email: </label>
    
      <input type="text" name="email">
    </div> 
    
    <div class="text_input">
      <label for="" class="label">Password: </label>
      <input type="password" name="password">
    </div> 

    <div>
      <button class="button_styled">Add User</button>
    </div>      

    </form>
  </div>
</div>