<h1>Add resource</h1>
<form action="/resource" method="POST">

  <label for="">Name: </label>
  <input type="text"name="name">

  <label for="">Description: </label>
  <input type="text"name="description">

  <label for="">URL: </label>
  <input type="text"name="url">

  <button>Add resource</button>
</form>
