<div class="main">
  <div class='text'>
    <h1>Problem Solving Tricks</h1>

    <p>
      <h3>Step 1: understand the problem</h3>
        - read error message<br>
        - locate the problem<br>

      <h3>Step 2: confirm the problem</h3>
        - make sure files have been saved<br>
        - make sure browser has been reloaded<br>
        - hard refresh<br>
        - turn it off and on again<br>

      <h3>Step 3: Checks</h3>
        - check syntax<br>
        - check variable names and spelling<br>
        - check data inputs and outputs<br>
        
      <h3>Step 4 confirm functions are being actioned</h3>
        - use logs to confirm functions are being executed as expected<br>
        - binding.pry, console.logs are your friend (don't forget to delete them later)

      <h3>Step 5 break down the problem</h3>
        - try and make the problem smaller: smaller problems are easier to solve and will take you one step closer to your goal<br>
    </p>
  </div>
</div>